// app values
PORT = PORT


// db values
DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_ENCRYPT=DB_ENCRYPT
DB_TRUST_SERVER_CERTIFICATE=DB_TRUST_SERVER_CERTIFICATE