USE [master]
GO
/****** Object:  Database [qbusto]    Script Date: 31-08-2026 21:27:02 ******/
CREATE DATABASE [qbusto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qbusto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\qbusto.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qbusto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\qbusto_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qbusto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qbusto]
GO
/****** Object:  User [qbusto]    Script Date: 31-08-2026 21:27:03 ******/
CREATE USER [qbusto] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [qbusto]
GO
/****** Object:  Table [dbo].[banners]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[image_url] [varchar](500) NOT NULL,
	[type] [char](1) NOT NULL,
	[sequence] [int] NOT NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chain_id] [int] NOT NULL,
	[name] [varchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [varchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chains]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chains](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[logo_image_url] [varchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cinema_categories]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinema_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[sequence] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cinema_products]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinema_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[sequence] [int] NOT NULL,
	[available_from] [datetime2](7) NULL,
	[available_until] [datetime2](7) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cinemas]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinemas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chain_id] [int] NOT NULL,
	[code] [varchar](10) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[location] [varchar](255) NULL,
	[city] [varchar](100) NULL,
	[gst_number] [varchar](50) NULL,
	[fssai_number] [varchar](50) NULL,
	[active_since] [datetime2](7) NULL,
	[sms_enabled] [bit] NOT NULL,
	[whatsapp_enabled] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[screensaver_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[film]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[film](
	[Film_strCode] [varchar](20) NOT NULL,
	[Film_strTitle] [varchar](500) NULL,
	[Film_strCensor] [varchar](10) NULL,
	[Film_strContent] [nvarchar](255) NULL,
	[Film_strDescription] [varchar](255) NULL,
	[Film_strShortName] [varchar](10) NULL,
	[Film_strSignText] [varchar](20) NULL,
	[Film_bytSignSequence] [tinyint] NULL,
	[FilmCat_strCode] [varchar](10) NULL,
	[FilmCat_strName] [varchar](30) NULL,
	[FilmCat_strShortName] [varchar](10) NULL,
	[Film_strChildren] [varchar](1) NULL,
	[Film_intDuration] [smallint] NULL,
	[Film_strStatus] [varchar](1) NULL,
	[Film_strATMAvailable] [char](1) NULL,
	[Film_strShortCode] [nvarchar](15) NULL,
	[Film_intIVRCode] [int] NULL,
	[Film_strURL1] [varchar](255) NULL,
	[Film_strURL2] [varchar](255) NULL,
	[Film_strVCode] [varchar](5) NULL,
	[Film_strTitleAlt] [nvarchar](50) NULL,
	[Film_strCensorAlt] [nvarchar](4) NULL,
	[Film_strContentAlt] [nvarchar](255) NULL,
	[Film_strDescriptionAlt] [nvarchar](255) NULL,
	[Film_strShortNameAlt] [nvarchar](10) NULL,
	[Film_strSignTextAlt] [nvarchar](20) NULL,
	[Film_strURL1Description] [nvarchar](100) NULL,
	[Film_strURL2Description] [nvarchar](100) NULL,
	[Film_strURLforGraphic] [varchar](255) NULL,
	[Film_strURLforFilmName] [varchar](255) NULL,
	[Film_strURLforTrailer] [varchar](255) NULL,
	[Film_strMovieFormat] [nvarchar](30) NULL,
	[Film_strSoundFormat] [nvarchar](30) NULL,
	[Film_mnyGross] [money] NULL,
	[Film_mnyLocalGross] [money] NULL,
	[Film_strUpcomingFlag] [varchar](1) NULL,
	[Film_strFeatureFlag] [varchar](1) NULL,
	[Film_strNowShowingFlag] [varchar](1) NULL,
	[Film_dtmOpeningDate] [datetime] NULL,
	[Film_strDescriptionLong] [ntext] NULL,
	[Film_strAdditionalData] [varchar](1000) NULL,
	[Film_strSalesChannels] [varchar](500) NULL,
	[Film_dtmStamp] [datetime] NOT NULL,
	[test_column] [nchar](1000) NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[Film_strCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idempotency_keys]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idempotency_keys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[key] [varchar](36) NOT NULL,
	[order_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[offers]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[offers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[discount_type] [varchar](30) NOT NULL,
	[description] [varchar](500) NULL,
	[tnc] [varchar](2000) NULL,
	[status] [varchar](20) NOT NULL,
	[disc_amount] [decimal](10, 2) NOT NULL,
	[max_disc_amount] [decimal](10, 2) NULL,
	[min_txn_amount] [decimal](10, 2) NULL,
	[max_txn_amount] [decimal](10, 2) NULL,
	[max_txn_limit] [int] NULL,
	[valid_from] [datetime2](7) NULL,
	[valid_until] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[product_name] [varchar](200) NOT NULL,
	[pos_item_id] [varchar](50) NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[discount] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_pos_context]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_pos_context](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[pos_integration_id] [int] NOT NULL,
	[external_session_id] [varchar](100) NULL,
	[external_film_id] [varchar](50) NULL,
	[external_screen_id] [varchar](50) NULL,
	[external_booking_id] [varchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status_logs]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[previous_status_id] [int] NULL,
	[new_status_id] [int] NOT NULL,
	[changed_by_user_id] [int] NULL,
	[reason] [varchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_statuses]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](30) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[screen_id] [int] NULL,
	[seat_number] [varchar](20) NULL,
	[status_id] [int] NOT NULL,
	[source] [varchar](20) NULL,
	[customer_mobile] [varchar](15) NULL,
	[customer_email] [varchar](200) NULL,
	[film_title] [varchar](200) NULL,
	[show_time] [datetime2](7) NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[discount] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[payment_status_id] [int] NOT NULL,
	[sms_status] [varchar](20) NULL,
	[whatsapp_status] [varchar](20) NULL,
	[gateway_order_id] [varchar](100) NULL,
	[gateway_payment_id] [varchar](100) NULL,
	[gateway_signature] [varchar](255) NULL,
	[notes] [varchar](500) NULL,
	[delivered_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[offer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_gateway_config]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_gateway_config](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[gateway_url] [varchar](500) NOT NULL,
	[gateway_id] [varchar](255) NOT NULL,
	[gateway_secret_encrypted] [varchar](1000) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[environment] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_status_logs]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_status_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[previous_status_id] [int] NULL,
	[new_status_id] [int] NOT NULL,
	[changed_by_user_id] [int] NULL,
	[gateway_payment_id] [varchar](100) NULL,
	[reason] [varchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_statuses]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](30) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[description] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_webhook_events]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_webhook_events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event_id] [varchar](64) NOT NULL,
	[event] [varchar](50) NOT NULL,
	[gateway_order_id] [varchar](50) NULL,
	[gateway_payment_id] [varchar](50) NULL,
	[order_id] [int] NULL,
	[outcome] [varchar](30) NOT NULL,
	[reason] [varchar](60) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_payment_webhook_events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pos_integrations]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pos_integrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[provider] [varchar](30) NOT NULL,
	[external_cinema_id] [varchar](50) NOT NULL,
	[api_url] [varchar](500) NOT NULL,
	[is_active] [bit] NOT NULL,
	[credential_ref] [varchar](200) NULL,
	[config] [nvarchar](max) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pos_transactions]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pos_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[pos_integration_id] [int] NOT NULL,
	[operation] [varchar](30) NOT NULL,
	[idempotency_key] [varchar](100) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[attempt_count] [int] NOT NULL,
	[external_response_id] [varchar](100) NULL,
	[request_payload] [nvarchar](4000) NULL,
	[response_payload] [nvarchar](4000) NULL,
	[last_error] [varchar](500) NULL,
	[last_attempted_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_availability_hours]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_availability_hours](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_product_id] [int] NOT NULL,
	[day_of_week] [tinyint] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_pos_mappings]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_pos_mappings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pos_integration_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[external_item_id] [varchar](50) NOT NULL,
	[external_group_id] [varchar](50) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_pricing]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_pricing](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[day_of_week] [tinyint] NOT NULL,
	[base_price] [decimal](10, 2) NOT NULL,
	[discount_type] [char](1) NULL,
	[discount_value] [decimal](10, 2) NULL,
	[discount_on_qr] [decimal](10, 2) NULL,
	[discount_on_kiosk] [decimal](10, 2) NULL,
	[discount_on_seat_qr] [decimal](10, 2) NULL,
	[discount_on_counter] [decimal](10, 2) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chain_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[name] [varchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[weight] [varchar](50) NULL,
	[image_url] [varchar](500) NULL,
	[tax_slab_code] [varchar](20) NULL,
	[is_addon] [bit] NOT NULL,
	[addon_parent_id] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qbusto_timezone_migration]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qbusto_timezone_migration](
	[migration_key] [varchar](100) NOT NULL,
	[applied_at] [datetime2](7) NOT NULL,
	[values_shifted] [int] NOT NULL,
	[values_normalised] [int] NOT NULL,
	[values_skipped] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[migration_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qbusto_timezone_migration_backup]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qbusto_timezone_migration_backup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[table_name] [varchar](128) NOT NULL,
	[column_name] [varchar](128) NOT NULL,
	[row_id] [int] NOT NULL,
	[old_value] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[screen_layout]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[screen_layout](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[screen_name] [varchar](50) NOT NULL,
	[category] [varchar](50) NOT NULL,
	[seat_row] [varchar](2) NOT NULL,
	[seat_no] [varchar](3) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[screen_pos_mappings]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[screen_pos_mappings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pos_integration_id] [int] NOT NULL,
	[screen_id] [int] NOT NULL,
	[external_screen_id] [varchar](50) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[screens]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[screens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[category] [nvarchar](50) NULL,
	[seat_row] [nvarchar](2) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__screens__3213E83F0DD4E826] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SequelizeMeta]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SequelizeMeta](
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[session]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[session](
	[Code] [varchar](10) NOT NULL,
	[Session_lngSessionId] [int] NOT NULL,
	[Film_strCode] [varchar](20) NULL,
	[Screen_bytNum] [int] NULL,
	[Layout_intId] [int] NULL,
	[Screen_strName] [varchar](25) NULL,
	[Session_strStatus] [varchar](1) NOT NULL,
	[Session_strType] [varchar](1) NULL,
	[Session_dtmRealShow] [datetime] NOT NULL,
	[Session_dtmFinishShow] [datetime] NOT NULL,
	[PGroup_strCode] [varchar](4) NOT NULL,
	[Session_intSeatsAvail] [int] NOT NULL,
	[Session_intSeatsTotal] [int] NULL,
	[Session_strSeatAllocation] [varchar](1) NOT NULL,
	[Session_strComments] [nvarchar](255) NOT NULL,
	[Session_dtmFilmFirstShow] [datetime] NULL,
	[Session_strHOSessionID] [varchar](10) NULL,
	[Event_strCode] [varchar](10) NULL,
	[Event_strName] [nvarchar](100) NULL,
	[Session_strAdditionalData] [varchar](1000) NULL,
	[Session_dtmStamp] [datetime] NOT NULL,
	[Session_strSalesChannel] [varchar](500) NULL,
	[CinOperator_strCode] [varchar](10) NULL,
	[Session_strCinemaPopUpDesc] [varchar](10) NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[Code] ASC,
	[Session_lngSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shows]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shows](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cinema_id] [int] NOT NULL,
	[screen_id] [int] NULL,
	[pos_integration_id] [int] NOT NULL,
	[external_session_id] [varchar](100) NOT NULL,
	[external_screen_id] [varchar](50) NULL,
	[external_film_id] [varchar](50) NULL,
	[film_title] [varchar](200) NOT NULL,
	[show_time] [datetime2](7) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[last_synced_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_permissions]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_permissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[module_name] [varchar](50) NOT NULL,
	[can_read] [bit] NOT NULL,
	[can_edit] [bit] NOT NULL,
	[can_delete] [bit] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 31-08-2026 21:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chain_id] [int] NOT NULL,
	[cinema_id] [int] NULL,
	[role] [varchar](20) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[mobile] [varchar](15) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[banners] ON 

INSERT [dbo].[banners] ([id], [cinema_id], [image_url], [type], [sequence], [start_date], [end_date], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, 1, N'https://picsum.photos/seed/qbusto-dev-seed-ban-phx-1/1200/400', N'H', 1, NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:26.4410000' AS DateTime2), CAST(N'2026-08-18T19:14:26.4410000' AS DateTime2))
INSERT [dbo].[banners] ([id], [cinema_id], [image_url], [type], [sequence], [start_date], [end_date], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, 1, N'https://picsum.photos/seed/qbusto-dev-seed-ban-phx-2/1200/400', N'H', 2, CAST(N'2026-08-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-12-31T00:00:00.0000000' AS DateTime2), 1, NULL, NULL, CAST(N'2026-08-18T19:14:26.4590000' AS DateTime2), CAST(N'2026-08-18T19:14:26.4590000' AS DateTime2))
INSERT [dbo].[banners] ([id], [cinema_id], [image_url], [type], [sequence], [start_date], [end_date], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, 1, N'https://picsum.photos/seed/qbusto-dev-seed-ban-phx-3/1200/400', N'I', 3, NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:26.4700000' AS DateTime2), CAST(N'2026-08-18T19:14:26.4700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[banners] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [chain_id], [name], [description], [image_url], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, 1, N'Popcorn', N'Freshly popped, salted, caramel and cheese.', N'https://picsum.photos/seed/qbusto-dev-seed-cat-pvr-popcorn/400/400', 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.7230000' AS DateTime2), CAST(N'2026-08-18T19:14:24.7230000' AS DateTime2))
INSERT [dbo].[categories] ([id], [chain_id], [name], [description], [image_url], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, 1, N'Beverages', N'Soft drinks, water and hot beverages.', N'https://picsum.photos/seed/qbusto-dev-seed-cat-pvr-beverages/400/400', 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.7440000' AS DateTime2), CAST(N'2026-08-18T19:14:24.7440000' AS DateTime2))
INSERT [dbo].[categories] ([id], [chain_id], [name], [description], [image_url], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, 1, N'Snacks', N'Nachos, fries and quick bites.', N'https://picsum.photos/seed/qbusto-dev-seed-cat-pvr-snacks/400/400', 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.7560000' AS DateTime2), CAST(N'2026-08-18T19:14:24.7560000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[chains] ON 

INSERT [dbo].[chains] ([id], [name], [logo_image_url], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, N'PVR Cinemas', N'https://picsum.photos/seed/qbusto-dev-seed-chain-pvr/320/320', 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.3510000' AS DateTime2), CAST(N'2026-08-18T19:14:24.3510000' AS DateTime2))
INSERT [dbo].[chains] ([id], [name], [logo_image_url], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, N'INOX Cinemas', N'https://picsum.photos/seed/qbusto-dev-seed-chain-inox/320/320', 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.4430000' AS DateTime2), CAST(N'2026-08-18T19:14:24.4430000' AS DateTime2))
INSERT [dbo].[chains] ([id], [name], [logo_image_url], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, N'Cinepolis India', N'https://picsum.photos/seed/qbusto-dev-seed-chain-cinepolis/320/320', 0, NULL, NULL, CAST(N'2026-08-18T19:14:24.4540000' AS DateTime2), CAST(N'2026-08-18T19:14:26.6780000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[chains] OFF
GO
SET IDENTITY_INSERT [dbo].[cinema_products] ON 

INSERT [dbo].[cinema_products] ([id], [cinema_id], [product_id], [sequence], [available_from], [available_until], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, 1, 1, 1, NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:25.4030000' AS DateTime2), CAST(N'2026-08-18T19:14:25.4030000' AS DateTime2))
INSERT [dbo].[cinema_products] ([id], [cinema_id], [product_id], [sequence], [available_from], [available_until], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, 1, 2, 2, NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:25.4210000' AS DateTime2), CAST(N'2026-08-18T19:14:25.4210000' AS DateTime2))
INSERT [dbo].[cinema_products] ([id], [cinema_id], [product_id], [sequence], [available_from], [available_until], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, 1, 3, 3, NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:25.4350000' AS DateTime2), CAST(N'2026-08-18T19:14:25.4350000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[cinema_products] OFF
GO
SET IDENTITY_INSERT [dbo].[cinemas] ON 

INSERT [dbo].[cinemas] ([id], [chain_id], [code], [name], [location], [city], [gst_number], [fssai_number], [active_since], [sms_enabled], [whatsapp_enabled], [is_active], [created_by], [updated_by], [created_at], [updated_at], [screensaver_url]) VALUES (1, 1, N'PVRPHX', N'PVR Phoenix Lower Parel', N'Phoenix Mills, Senapati Bapat Marg', N'Mumbai', N'27AAACP1234A1Z5', N'11522998000123', CAST(N'2018-04-01T00:00:00.0000000' AS DateTime2), 1, 1, 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.4680000' AS DateTime2), CAST(N'2026-08-18T19:14:24.4680000' AS DateTime2), NULL)
INSERT [dbo].[cinemas] ([id], [chain_id], [code], [name], [location], [city], [gst_number], [fssai_number], [active_since], [sms_enabled], [whatsapp_enabled], [is_active], [created_by], [updated_by], [created_at], [updated_at], [screensaver_url]) VALUES (2, 1, N'PVRAND', N'PVR Andheri West', N'Infiniti Mall, New Link Road', N'Mumbai', N'27AAACP1234A1Z5', N'11522998000124', CAST(N'2019-08-15T00:00:00.0000000' AS DateTime2), 1, 0, 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.4800000' AS DateTime2), CAST(N'2026-08-18T19:14:24.4800000' AS DateTime2), NULL)
INSERT [dbo].[cinemas] ([id], [chain_id], [code], [name], [location], [city], [gst_number], [fssai_number], [active_since], [sms_enabled], [whatsapp_enabled], [is_active], [created_by], [updated_by], [created_at], [updated_at], [screensaver_url]) VALUES (3, 1, N'PVRJUH', N'PVR Juhu', N'Juhu Tara Road', N'Mumbai', NULL, NULL, CAST(N'2021-01-20T00:00:00.0000000' AS DateTime2), 0, 0, 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.4920000' AS DateTime2), CAST(N'2026-08-18T19:14:24.4920000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[cinemas] OFF
GO
SET IDENTITY_INSERT [dbo].[idempotency_keys] ON 

INSERT [dbo].[idempotency_keys] ([id], [key], [order_id], [created_at], [updated_at]) VALUES (1, N'ab0d77f7-ba8d-4b91-b0a3-379455ed609f', 8, CAST(N'2026-08-18T19:15:31.7430000' AS DateTime2), CAST(N'2026-08-18T19:15:31.7430000' AS DateTime2))
INSERT [dbo].[idempotency_keys] ([id], [key], [order_id], [created_at], [updated_at]) VALUES (2, N'48ef2980-a933-4d12-889f-9fb4e13ac441', 9, CAST(N'2026-08-20T21:12:51.2780000' AS DateTime2), CAST(N'2026-08-20T21:12:51.2780000' AS DateTime2))
INSERT [dbo].[idempotency_keys] ([id], [key], [order_id], [created_at], [updated_at]) VALUES (3, N'7d87b3b5-3c6e-4064-8e0d-de419aaacf09', 10, CAST(N'2026-08-20T21:40:15.1370000' AS DateTime2), CAST(N'2026-08-20T21:40:15.1370000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[idempotency_keys] OFF
GO
SET IDENTITY_INSERT [dbo].[offers] ON 

INSERT [dbo].[offers] ([id], [cinema_id], [code], [name], [discount_type], [description], [tnc], [status], [disc_amount], [max_disc_amount], [min_txn_amount], [max_txn_amount], [max_txn_limit], [valid_from], [valid_until], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, 1, N'abcd15', N'Test Weekend Offer', N'FLAT', NULL, NULL, N'active', CAST(200.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2026-08-25T15:49:32.3230000' AS DateTime2), CAST(N'2026-08-25T18:47:10.3450000' AS DateTime2))
INSERT [dbo].[offers] ([id], [cinema_id], [code], [name], [discount_type], [description], [tnc], [status], [disc_amount], [max_disc_amount], [min_txn_amount], [max_txn_amount], [max_txn_limit], [valid_from], [valid_until], [created_by], [updated_by], [created_at], [updated_at]) VALUES (4, 8, N'TEST100', N'Test Coupon', N'flat', NULL, NULL, N'active', CAST(100.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL, NULL, NULL, 2, 2, CAST(N'2026-08-26T03:11:11.8360000' AS DateTime2), CAST(N'2026-08-26T03:11:11.8360000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[offers] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [product_id], [product_name], [pos_item_id], [quantity], [unit_price], [discount], [total]) VALUES (8, 8, 4, N'Caramel Popcorn', NULL, 1, CAST(330.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(330.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [product_name], [pos_item_id], [quantity], [unit_price], [discount], [total]) VALUES (9, 8, 6, N'Coca-Cola (Large)', NULL, 1, CAST(240.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(240.00 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([id], [order_id], [product_id], [product_name], [pos_item_id], [quantity], [unit_price], [discount], [total]) VALUES (10, 9, 39, N'MALAI KULFI FALOODA (260 ML)', NULL, 1, CAST(370.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(370.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[order_status_logs] ON 

INSERT [dbo].[order_status_logs] ([id], [order_id], [previous_status_id], [new_status_id], [changed_by_user_id], [reason], [created_at]) VALUES (1, 8, NULL, 1, NULL, N'Order created', CAST(N'2026-08-18T19:15:31.7490000' AS DateTime2))
INSERT [dbo].[order_status_logs] ([id], [order_id], [previous_status_id], [new_status_id], [changed_by_user_id], [reason], [created_at]) VALUES (2, 8, 1, 2, NULL, N'Payment confirmed', CAST(N'2026-08-18T19:15:55.1990000' AS DateTime2))
INSERT [dbo].[order_status_logs] ([id], [order_id], [previous_status_id], [new_status_id], [changed_by_user_id], [reason], [created_at]) VALUES (3, 8, 2, 3, 1, NULL, CAST(N'2026-08-18T19:16:45.4910000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[order_status_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[order_statuses] ON 

INSERT [dbo].[order_statuses] ([id], [code], [name], [description], [is_active], [created_at], [updated_at]) VALUES (1, N'initiated', N'Initiated', N'Order created, not yet confirmed.', 1, CAST(N'2026-08-18T19:11:53.0670000' AS DateTime2), CAST(N'2026-08-18T19:11:53.0670000' AS DateTime2))
INSERT [dbo].[order_statuses] ([id], [code], [name], [description], [is_active], [created_at], [updated_at]) VALUES (2, N'confirmed', N'Confirmed', N'Order confirmed and accepted.', 1, CAST(N'2026-08-18T19:11:53.0670000' AS DateTime2), CAST(N'2026-08-18T19:11:53.0670000' AS DateTime2))
INSERT [dbo].[order_statuses] ([id], [code], [name], [description], [is_active], [created_at], [updated_at]) VALUES (3, N'preparing', N'Preparing', N'Kitchen is preparing the order.', 1, CAST(N'2026-08-18T19:11:53.0670000' AS DateTime2), CAST(N'2026-08-18T19:11:53.0670000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[order_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_gateway_config] ON 

INSERT [dbo].[payment_gateway_config] ([id], [cinema_id], [gateway_url], [gateway_id], [gateway_secret_encrypted], [is_active], [created_by], [updated_by], [created_at], [updated_at], [environment]) VALUES (1, 1, N'', N'TEST11196503d1188251c10567fb73c030569111', N'u7N4yjNbxRVZin6t8eGgxyVClnvCTtAbbFotR6YtSqFgstm/ayC4ZM2voVlIXM52JZNYPBwfSEW2r2Dfvl/eiZDXZnKOiEqbaOOO1VHIdpZudg==', 1, NULL, NULL, CAST(N'2026-08-25T15:45:29.7150000' AS DateTime2), CAST(N'2026-08-25T18:42:44.3530000' AS DateTime2), N'test')
INSERT [dbo].[payment_gateway_config] ([id], [cinema_id], [gateway_url], [gateway_id], [gateway_secret_encrypted], [is_active], [created_by], [updated_by], [created_at], [updated_at], [environment]) VALUES (2, 3, N'', N'TESTfakeappid123', N'BsE89kg7aycxmvge06gEjUi5l3531Y/YgQ9WJNiV7UzflSbyhm+x9Rf3LtYdG5xAb2gC', 0, 1, 1, CAST(N'2026-08-25T18:52:15.0370000' AS DateTime2), CAST(N'2026-08-25T18:52:15.7390000' AS DateTime2), N'test')
INSERT [dbo].[payment_gateway_config] ([id], [cinema_id], [gateway_url], [gateway_id], [gateway_secret_encrypted], [is_active], [created_by], [updated_by], [created_at], [updated_at], [environment]) VALUES (8, 12, N'', N'TEST1119571467bde4fb9d6bc7b145e741759111', N'kPRLhtN09sxB8Nfmk6SQyUMCA9aBOjsh19/IbSQFhHlMYe51A67XUEvhzs5tieu05CTwwOXh0fe5OSVxbYM5w0uOZO4qpBz2aQowNE3DNZRL6A==', 1, 2, 2, CAST(N'2026-08-29T23:13:29.4730000' AS DateTime2), CAST(N'2026-08-29T23:13:29.4730000' AS DateTime2), N'test')
SET IDENTITY_INSERT [dbo].[payment_gateway_config] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_status_logs] ON 

INSERT [dbo].[payment_status_logs] ([id], [order_id], [previous_status_id], [new_status_id], [changed_by_user_id], [gateway_payment_id], [reason], [created_at]) VALUES (1, 8, NULL, 1, NULL, NULL, N'Order created', CAST(N'2026-08-18T19:15:31.7490000' AS DateTime2))
INSERT [dbo].[payment_status_logs] ([id], [order_id], [previous_status_id], [new_status_id], [changed_by_user_id], [gateway_payment_id], [reason], [created_at]) VALUES (2, 8, 1, 2, NULL, N'pay_TRFngKNCfHCAFe', N'Payment verified', CAST(N'2026-08-18T19:15:55.1760000' AS DateTime2))
INSERT [dbo].[payment_status_logs] ([id], [order_id], [previous_status_id], [new_status_id], [changed_by_user_id], [gateway_payment_id], [reason], [created_at]) VALUES (3, 9, NULL, 1, NULL, NULL, N'Order created', CAST(N'2026-08-20T21:12:51.3090000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[payment_status_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_statuses] ON 

INSERT [dbo].[payment_statuses] ([id], [code], [name], [description], [is_active], [created_at], [updated_at]) VALUES (1, N'pending', N'Pending', N'Payment initiated, awaiting confirmation.', 1, CAST(N'2026-08-18T19:11:53.0850000' AS DateTime2), CAST(N'2026-08-18T19:11:53.0850000' AS DateTime2))
INSERT [dbo].[payment_statuses] ([id], [code], [name], [description], [is_active], [created_at], [updated_at]) VALUES (2, N'paid', N'Paid', N'Payment received and confirmed.', 1, CAST(N'2026-08-18T19:11:53.0850000' AS DateTime2), CAST(N'2026-08-18T19:11:53.0850000' AS DateTime2))
INSERT [dbo].[payment_statuses] ([id], [code], [name], [description], [is_active], [created_at], [updated_at]) VALUES (3, N'failed', N'Failed', N'Payment attempt failed.', 1, CAST(N'2026-08-18T19:11:53.0850000' AS DateTime2), CAST(N'2026-08-18T19:11:53.0850000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[payment_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_webhook_events] ON 

INSERT [dbo].[payment_webhook_events] ([id], [event_id], [event], [gateway_order_id], [gateway_payment_id], [order_id], [outcome], [reason], [created_at], [updated_at]) VALUES (2, N'PAYMENT_SUCCESS_WEBHOOK:cf_unknown', N'PAYMENT_SUCCESS_WEBHOOK', N'qbusto_order_nonexistent_99999999', N'cf_unknown', NULL, N'ignored', N'unknown_gateway_order', CAST(N'2026-08-25T13:18:36.3920000' AS DateTime2), CAST(N'2026-08-25T13:18:36.4040000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[payment_webhook_events] OFF
GO
SET IDENTITY_INSERT [dbo].[product_availability_hours] ON 

INSERT [dbo].[product_availability_hours] ([id], [cinema_product_id], [day_of_week], [start_time], [end_time], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, 1, 0, CAST(N'09:00:00' AS Time), CAST(N'23:00:00' AS Time), NULL, NULL, CAST(N'2026-08-18T19:14:25.7970000' AS DateTime2), CAST(N'2026-08-18T19:14:25.7970000' AS DateTime2))
INSERT [dbo].[product_availability_hours] ([id], [cinema_product_id], [day_of_week], [start_time], [end_time], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, 2, 0, CAST(N'09:00:00' AS Time), CAST(N'23:00:00' AS Time), NULL, NULL, CAST(N'2026-08-18T19:14:25.8220000' AS DateTime2), CAST(N'2026-08-18T19:14:25.8220000' AS DateTime2))
INSERT [dbo].[product_availability_hours] ([id], [cinema_product_id], [day_of_week], [start_time], [end_time], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, 15, 0, CAST(N'08:30:00' AS Time), CAST(N'23:30:00' AS Time), NULL, NULL, CAST(N'2026-08-18T19:14:25.8330000' AS DateTime2), CAST(N'2026-08-18T19:14:25.8330000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[product_availability_hours] OFF
GO
SET IDENTITY_INSERT [dbo].[product_pricing] ON 

INSERT [dbo].[product_pricing] ([id], [cinema_id], [product_id], [day_of_week], [base_price], [discount_type], [discount_value], [discount_on_qr], [discount_on_kiosk], [discount_on_seat_qr], [discount_on_counter], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, 1, 1, 0, CAST(280.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:26.2640000' AS DateTime2), CAST(N'2026-08-18T19:14:26.2640000' AS DateTime2))
INSERT [dbo].[product_pricing] ([id], [cinema_id], [product_id], [day_of_week], [base_price], [discount_type], [discount_value], [discount_on_qr], [discount_on_kiosk], [discount_on_seat_qr], [discount_on_counter], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, 1, 1, 6, CAST(320.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:26.2760000' AS DateTime2), CAST(N'2026-08-18T19:14:26.2760000' AS DateTime2))
INSERT [dbo].[product_pricing] ([id], [cinema_id], [product_id], [day_of_week], [base_price], [discount_type], [discount_value], [discount_on_qr], [discount_on_kiosk], [discount_on_seat_qr], [discount_on_counter], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, 1, 1, 7, CAST(320.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:26.2790000' AS DateTime2), CAST(N'2026-08-18T19:14:26.2790000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[product_pricing] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [chain_id], [category_id], [name], [description], [weight], [image_url], [tax_slab_code], [is_addon], [addon_parent_id], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, 1, 1, N'Regular Salted Popcorn', N'Freshly popped and lightly salted. Serves one.', N'90', N'https://picsum.photos/seed/qbusto-dev-seed-p-pvr-popcorn-regular/400/400', N'GST5', 0, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.8940000' AS DateTime2), CAST(N'2026-08-18T19:14:24.8940000' AS DateTime2))
INSERT [dbo].[products] ([id], [chain_id], [category_id], [name], [description], [weight], [image_url], [tax_slab_code], [is_addon], [addon_parent_id], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, 1, 1, N'Large Salted Popcorn', N'Our biggest tub. Shares between two or three.', N'180', N'https://picsum.photos/seed/qbusto-dev-seed-p-pvr-popcorn-large/400/400', N'GST5', 0, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.9130000' AS DateTime2), CAST(N'2026-08-18T19:14:24.9130000' AS DateTime2))
INSERT [dbo].[products] ([id], [chain_id], [category_id], [name], [description], [weight], [image_url], [tax_slab_code], [is_addon], [addon_parent_id], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, 1, 1, N'Cheese Popcorn', N'Popped fresh and tossed in cheese seasoning.', N'110', NULL, N'GST5', 0, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.9280000' AS DateTime2), CAST(N'2026-08-18T19:14:24.9280000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
INSERT [dbo].[qbusto_timezone_migration] ([migration_key], [applied_at], [values_shifted], [values_normalised], [values_skipped]) VALUES (N'qbusto-datetimes-stored-as-ist', CAST(N'2026-08-30T14:55:11.4750190' AS DateTime2), 1083, 24, 43)
GO
SET IDENTITY_INSERT [dbo].[qbusto_timezone_migration_backup] ON 

INSERT [dbo].[qbusto_timezone_migration_backup] ([id], [table_name], [column_name], [row_id], [old_value]) VALUES (1, N'banners', N'start_date', 2, CAST(N'2026-08-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[qbusto_timezone_migration_backup] ([id], [table_name], [column_name], [row_id], [old_value]) VALUES (2, N'banners', N'start_date', 6, CAST(N'2026-09-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[qbusto_timezone_migration_backup] ([id], [table_name], [column_name], [row_id], [old_value]) VALUES (3, N'banners', N'start_date', 11, CAST(N'2026-07-01T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[qbusto_timezone_migration_backup] OFF
GO
SET IDENTITY_INSERT [dbo].[screens] ON 

INSERT [dbo].[screens] ([id], [cinema_id], [name], [category], [seat_row], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, 1, N'Screen 1', NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.5440000' AS DateTime2), CAST(N'2026-08-18T19:14:24.5440000' AS DateTime2))
INSERT [dbo].[screens] ([id], [cinema_id], [name], [category], [seat_row], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, 1, N'Screen 2', NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.5620000' AS DateTime2), CAST(N'2026-08-18T19:14:24.5620000' AS DateTime2))
INSERT [dbo].[screens] ([id], [cinema_id], [name], [category], [seat_row], [is_active], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, 1, N'IMAX', NULL, NULL, 1, NULL, NULL, CAST(N'2026-08-18T19:14:24.5700000' AS DateTime2), CAST(N'2026-08-18T19:14:24.5700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[screens] OFF
GO
INSERT [dbo].[SequelizeMeta] ([name]) VALUES (N'20260809000100-create-order-statuses.js')
INSERT [dbo].[SequelizeMeta] ([name]) VALUES (N'20260809000200-create-payment-statuses.js')
INSERT [dbo].[SequelizeMeta] ([name]) VALUES (N'20260809000300-create-chains.js')
GO
SET IDENTITY_INSERT [dbo].[user_permissions] ON 

INSERT [dbo].[user_permissions] ([id], [user_id], [module_name], [can_read], [can_edit], [can_delete], [created_by], [updated_by], [created_at], [updated_at]) VALUES (27, 2, N'Dashboard', 1, 1, 1, 1, 1, CAST(N'2026-08-26T03:10:24.9740000' AS DateTime2), CAST(N'2026-08-26T03:10:24.9740000' AS DateTime2))
INSERT [dbo].[user_permissions] ([id], [user_id], [module_name], [can_read], [can_edit], [can_delete], [created_by], [updated_by], [created_at], [updated_at]) VALUES (28, 2, N'Orders', 1, 1, 1, 1, 1, CAST(N'2026-08-26T03:10:24.9740000' AS DateTime2), CAST(N'2026-08-26T03:10:24.9740000' AS DateTime2))
INSERT [dbo].[user_permissions] ([id], [user_id], [module_name], [can_read], [can_edit], [can_delete], [created_by], [updated_by], [created_at], [updated_at]) VALUES (29, 2, N'Products', 1, 1, 1, 1, 1, CAST(N'2026-08-26T03:10:24.9740000' AS DateTime2), CAST(N'2026-08-26T03:10:24.9740000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[user_permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [chain_id], [cinema_id], [role], [username], [password_hash], [first_name], [last_name], [mobile], [is_active], [created_at], [updated_at]) VALUES (1, 1, NULL, N'owner', N'qbusto-admin', N'$2b$10$k31xTcjM9D45CB9TyWfC2u4T32ggZnKAZnG7L9oc5Y4clAX8lxRU2', N'QBusto', N'Admin', NULL, 1, CAST(N'2026-08-18T19:14:26.8540000' AS DateTime2), CAST(N'2026-08-25T18:52:05.8970000' AS DateTime2))
INSERT [dbo].[users] ([id], [chain_id], [cinema_id], [role], [username], [password_hash], [first_name], [last_name], [mobile], [is_active], [created_at], [updated_at]) VALUES (2, 4, 8, N'chain_admin', N'1cinema-admin', N'$2b$10$7xfmBib8unMACzpjracgeekNBQ.u/qb5L2uNWWxZVQLf8pWQvxJZ2', N'1Cinemas', N'Noida', NULL, 1, CAST(N'2026-08-20T20:31:02.0090000' AS DateTime2), CAST(N'2026-08-20T20:31:20.7210000' AS DateTime2))
INSERT [dbo].[users] ([id], [chain_id], [cinema_id], [role], [username], [password_hash], [first_name], [last_name], [mobile], [is_active], [created_at], [updated_at]) VALUES (3, 1, NULL, N'owner', N'developer', N'$2b$10$VB1Wp69M9Vn8LvOqfw1LjOJI0Wt.tKaetDe738rzPqylAHlEHYh8C', NULL, NULL, NULL, 1, CAST(N'2026-08-25T19:11:27.6080000' AS DateTime2), CAST(N'2026-08-25T19:11:27.6080000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ_cinema_categories]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_cinema_categories] ON [dbo].[cinema_categories]
(
	[cinema_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_cinema_products]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_cinema_products] ON [dbo].[cinema_products]
(
	[cinema_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_cinemas_code]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_cinemas_code] ON [dbo].[cinemas]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__idempote__DFD83CAF39DFBFC1]    Script Date: 31-08-2026 21:27:03 ******/
ALTER TABLE [dbo].[idempotency_keys] ADD UNIQUE NONCLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_idempotency_keys_key]    Script Date: 31-08-2026 21:27:03 ******/
CREATE NONCLUSTERED INDEX [IX_idempotency_keys_key] ON [dbo].[idempotency_keys]
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_offers_cinema_id_code]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_offers_cinema_id_code] ON [dbo].[offers]
(
	[cinema_id] ASC,
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_items_order_id]    Script Date: 31-08-2026 21:27:03 ******/
CREATE NONCLUSTERED INDEX [IX_order_items_order_id] ON [dbo].[order_items]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_order_pos_context_order_id]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_order_pos_context_order_id] ON [dbo].[order_pos_context]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_order_statuses_code]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_order_statuses_code] ON [dbo].[order_statuses]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orders_cinema_created_at]    Script Date: 31-08-2026 21:27:03 ******/
CREATE NONCLUSTERED INDEX [IX_orders_cinema_created_at] ON [dbo].[orders]
(
	[cinema_id] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orders_payment_status_id]    Script Date: 31-08-2026 21:27:03 ******/
CREATE NONCLUSTERED INDEX [IX_orders_payment_status_id] ON [dbo].[orders]
(
	[payment_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_orders_status_id]    Script Date: 31-08-2026 21:27:03 ******/
CREATE NONCLUSTERED INDEX [IX_orders_status_id] ON [dbo].[orders]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_orders_gateway_order_id]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_orders_gateway_order_id] ON [dbo].[orders]
(
	[gateway_order_id] ASC
)
WHERE ([gateway_order_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_payment_gateway_config_active_cinema]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_payment_gateway_config_active_cinema] ON [dbo].[payment_gateway_config]
(
	[cinema_id] ASC
)
WHERE ([is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_payment_statuses_code]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_payment_statuses_code] ON [dbo].[payment_statuses]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_payment_webhook_events_event_id]    Script Date: 31-08-2026 21:27:03 ******/
ALTER TABLE [dbo].[payment_webhook_events] ADD  CONSTRAINT [UQ_payment_webhook_events_event_id] UNIQUE NONCLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payment_webhook_events_gateway_order_id]    Script Date: 31-08-2026 21:27:03 ******/
CREATE NONCLUSTERED INDEX [IX_payment_webhook_events_gateway_order_id] ON [dbo].[payment_webhook_events]
(
	[gateway_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_pos_integrations_active_cinema]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_pos_integrations_active_cinema] ON [dbo].[pos_integrations]
(
	[cinema_id] ASC
)
WHERE ([is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_pos_integrations_cinema_provider]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_pos_integrations_cinema_provider] ON [dbo].[pos_integrations]
(
	[cinema_id] ASC,
	[provider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_pos_transactions_order_id]    Script Date: 31-08-2026 21:27:03 ******/
CREATE NONCLUSTERED INDEX [IX_pos_transactions_order_id] ON [dbo].[pos_transactions]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_pos_transactions_idempotency_key]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_pos_transactions_idempotency_key] ON [dbo].[pos_transactions]
(
	[idempotency_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_availability_hours_lookup]    Script Date: 31-08-2026 21:27:03 ******/
CREATE NONCLUSTERED INDEX [IX_product_availability_hours_lookup] ON [dbo].[product_availability_hours]
(
	[cinema_product_id] ASC,
	[day_of_week] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_product_availability_hours]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_product_availability_hours] ON [dbo].[product_availability_hours]
(
	[cinema_product_id] ASC,
	[day_of_week] ASC,
	[start_time] ASC,
	[end_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_product_pos_mappings]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_product_pos_mappings] ON [dbo].[product_pos_mappings]
(
	[pos_integration_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_product_pricing]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_product_pricing] ON [dbo].[product_pricing]
(
	[cinema_id] ASC,
	[product_id] ASC,
	[day_of_week] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_screen_pos_mappings]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_screen_pos_mappings] ON [dbo].[screen_pos_mappings]
(
	[pos_integration_id] ASC,
	[screen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Sequeliz__72E12F1BD7643009]    Script Date: 31-08-2026 21:27:03 ******/
ALTER TABLE [dbo].[SequelizeMeta] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_shows_cinema_show_time]    Script Date: 31-08-2026 21:27:03 ******/
CREATE NONCLUSTERED INDEX [IX_shows_cinema_show_time] ON [dbo].[shows]
(
	[cinema_id] ASC,
	[show_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_shows_external_session]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_shows_external_session] ON [dbo].[shows]
(
	[pos_integration_id] ASC,
	[external_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_user_permissions]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_user_permissions] ON [dbo].[user_permissions]
(
	[user_id] ASC,
	[module_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_username]    Script Date: 31-08-2026 21:27:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_users_username] ON [dbo].[users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT ((0)) FOR [sequence]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[chains] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[cinema_categories] ADD  DEFAULT ((0)) FOR [sequence]
GO
ALTER TABLE [dbo].[cinema_categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[cinema_products] ADD  DEFAULT ((0)) FOR [sequence]
GO
ALTER TABLE [dbo].[cinema_products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[cinemas] ADD  DEFAULT ((0)) FOR [sms_enabled]
GO
ALTER TABLE [dbo].[cinemas] ADD  DEFAULT ((0)) FOR [whatsapp_enabled]
GO
ALTER TABLE [dbo].[cinemas] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[film] ADD  CONSTRAINT [DF_Film_Film_dtmStamp]  DEFAULT (getdate()) FOR [Film_dtmStamp]
GO
ALTER TABLE [dbo].[offers] ADD  DEFAULT (N'active') FOR [status]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[order_statuses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[payment_gateway_config] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[payment_gateway_config] ADD  DEFAULT (N'test') FOR [environment]
GO
ALTER TABLE [dbo].[payment_statuses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pos_integrations] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[pos_transactions] ADD  DEFAULT (N'pending') FOR [status]
GO
ALTER TABLE [dbo].[pos_transactions] ADD  DEFAULT ((1)) FOR [attempt_count]
GO
ALTER TABLE [dbo].[product_pricing] ADD  DEFAULT ((0)) FOR [day_of_week]
GO
ALTER TABLE [dbo].[product_pricing] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_addon]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[screen_layout] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[screens] ADD  CONSTRAINT [DF__screens__is_acti__03F0984C]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[session] ADD  CONSTRAINT [DF_Session_Session_dtmStamp]  DEFAULT (getdate()) FOR [Session_dtmStamp]
GO
ALTER TABLE [dbo].[shows] ADD  DEFAULT (N'scheduled') FOR [status]
GO
ALTER TABLE [dbo].[user_permissions] ADD  DEFAULT ((0)) FOR [can_read]
GO
ALTER TABLE [dbo].[user_permissions] ADD  DEFAULT ((0)) FOR [can_edit]
GO
ALTER TABLE [dbo].[user_permissions] ADD  DEFAULT ((0)) FOR [can_delete]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[banners]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[banners]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[banners]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD FOREIGN KEY([chain_id])
REFERENCES [dbo].[chains] ([id])
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chains]  WITH CHECK ADD  CONSTRAINT [FK_chains_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chains] CHECK CONSTRAINT [FK_chains_created_by]
GO
ALTER TABLE [dbo].[chains]  WITH CHECK ADD  CONSTRAINT [FK_chains_updated_by] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[chains] CHECK CONSTRAINT [FK_chains_updated_by]
GO
ALTER TABLE [dbo].[cinema_categories]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[cinema_categories]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[cinema_categories]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cinema_categories]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cinema_products]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[cinema_products]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cinema_products]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[cinema_products]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cinemas]  WITH CHECK ADD FOREIGN KEY([chain_id])
REFERENCES [dbo].[chains] ([id])
GO
ALTER TABLE [dbo].[cinemas]  WITH CHECK ADD  CONSTRAINT [FK_cinemas_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cinemas] CHECK CONSTRAINT [FK_cinemas_created_by]
GO
ALTER TABLE [dbo].[cinemas]  WITH CHECK ADD  CONSTRAINT [FK_cinemas_updated_by] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cinemas] CHECK CONSTRAINT [FK_cinemas_updated_by]
GO
ALTER TABLE [dbo].[idempotency_keys]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[offers]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[offers]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[offers]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_pos_context]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_pos_context]  WITH CHECK ADD FOREIGN KEY([pos_integration_id])
REFERENCES [dbo].[pos_integrations] ([id])
GO
ALTER TABLE [dbo].[order_status_logs]  WITH CHECK ADD FOREIGN KEY([changed_by_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_status_logs]  WITH CHECK ADD FOREIGN KEY([new_status_id])
REFERENCES [dbo].[order_statuses] ([id])
GO
ALTER TABLE [dbo].[order_status_logs]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_status_logs]  WITH CHECK ADD FOREIGN KEY([previous_status_id])
REFERENCES [dbo].[order_statuses] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([offer_id])
REFERENCES [dbo].[offers] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([payment_status_id])
REFERENCES [dbo].[payment_statuses] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__screen_i__2645B050] FOREIGN KEY([screen_id])
REFERENCES [dbo].[screens] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__screen_i__2645B050]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[order_statuses] ([id])
GO
ALTER TABLE [dbo].[payment_gateway_config]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[payment_gateway_config]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payment_gateway_config]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payment_status_logs]  WITH CHECK ADD FOREIGN KEY([changed_by_user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[payment_status_logs]  WITH CHECK ADD FOREIGN KEY([new_status_id])
REFERENCES [dbo].[payment_statuses] ([id])
GO
ALTER TABLE [dbo].[payment_status_logs]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[payment_status_logs]  WITH CHECK ADD FOREIGN KEY([previous_status_id])
REFERENCES [dbo].[payment_statuses] ([id])
GO
ALTER TABLE [dbo].[payment_webhook_events]  WITH CHECK ADD  CONSTRAINT [FK_payment_webhook_events_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[payment_webhook_events] CHECK CONSTRAINT [FK_payment_webhook_events_order_id]
GO
ALTER TABLE [dbo].[pos_integrations]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[pos_integrations]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[pos_integrations]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[pos_transactions]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[pos_transactions]  WITH CHECK ADD FOREIGN KEY([pos_integration_id])
REFERENCES [dbo].[pos_integrations] ([id])
GO
ALTER TABLE [dbo].[product_availability_hours]  WITH CHECK ADD FOREIGN KEY([cinema_product_id])
REFERENCES [dbo].[cinema_products] ([id])
GO
ALTER TABLE [dbo].[product_availability_hours]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[product_availability_hours]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[product_pos_mappings]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[product_pos_mappings]  WITH CHECK ADD FOREIGN KEY([pos_integration_id])
REFERENCES [dbo].[pos_integrations] ([id])
GO
ALTER TABLE [dbo].[product_pos_mappings]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_pos_mappings]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([chain_id])
REFERENCES [dbo].[chains] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_addon_parent_id] FOREIGN KEY([addon_parent_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_addon_parent_id]
GO
ALTER TABLE [dbo].[screen_layout]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[screen_layout]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[screen_layout]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[screen_pos_mappings]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[screen_pos_mappings]  WITH CHECK ADD FOREIGN KEY([pos_integration_id])
REFERENCES [dbo].[pos_integrations] ([id])
GO
ALTER TABLE [dbo].[screen_pos_mappings]  WITH CHECK ADD  CONSTRAINT [FK__screen_po__scree__45BE5BA9] FOREIGN KEY([screen_id])
REFERENCES [dbo].[screens] ([id])
GO
ALTER TABLE [dbo].[screen_pos_mappings] CHECK CONSTRAINT [FK__screen_po__scree__45BE5BA9]
GO
ALTER TABLE [dbo].[screen_pos_mappings]  WITH CHECK ADD FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[screens]  WITH CHECK ADD  CONSTRAINT [FK__screens__cinema___47A6A41B] FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[screens] CHECK CONSTRAINT [FK__screens__cinema___47A6A41B]
GO
ALTER TABLE [dbo].[screens]  WITH CHECK ADD  CONSTRAINT [FK__screens__created__489AC854] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[screens] CHECK CONSTRAINT [FK__screens__created__489AC854]
GO
ALTER TABLE [dbo].[screens]  WITH CHECK ADD  CONSTRAINT [FK__screens__updated__498EEC8D] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[screens] CHECK CONSTRAINT [FK__screens__updated__498EEC8D]
GO
ALTER TABLE [dbo].[session]  WITH CHECK ADD  CONSTRAINT [FK_Session_cinemas] FOREIGN KEY([Code])
REFERENCES [dbo].[cinemas] ([code])
GO
ALTER TABLE [dbo].[session] CHECK CONSTRAINT [FK_Session_cinemas]
GO
ALTER TABLE [dbo].[session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Film] FOREIGN KEY([Film_strCode])
REFERENCES [dbo].[film] ([Film_strCode])
GO
ALTER TABLE [dbo].[session] CHECK CONSTRAINT [FK_Session_Film]
GO
ALTER TABLE [dbo].[shows]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[shows]  WITH CHECK ADD FOREIGN KEY([pos_integration_id])
REFERENCES [dbo].[pos_integrations] ([id])
GO
ALTER TABLE [dbo].[shows]  WITH CHECK ADD  CONSTRAINT [FK__shows__screen_id__4C6B5938] FOREIGN KEY([screen_id])
REFERENCES [dbo].[screens] ([id])
GO
ALTER TABLE [dbo].[shows] CHECK CONSTRAINT [FK__shows__screen_id__4C6B5938]
GO
ALTER TABLE [dbo].[user_permissions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_permissions]  WITH CHECK ADD  CONSTRAINT [FK_user_permissions_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_permissions] CHECK CONSTRAINT [FK_user_permissions_created_by]
GO
ALTER TABLE [dbo].[user_permissions]  WITH CHECK ADD  CONSTRAINT [FK_user_permissions_updated_by] FOREIGN KEY([updated_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_permissions] CHECK CONSTRAINT [FK_user_permissions_updated_by]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([chain_id])
REFERENCES [dbo].[chains] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([cinema_id])
REFERENCES [dbo].[cinemas] ([id])
GO
ALTER TABLE [dbo].[banners]  WITH CHECK ADD  CONSTRAINT [CK_banners_type] CHECK  (([type]='I' OR [type]='H'))
GO
ALTER TABLE [dbo].[banners] CHECK CONSTRAINT [CK_banners_type]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_order_items_discount] CHECK  (([discount]>=(0)))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_order_items_discount]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_order_items_quantity] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_order_items_quantity]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_order_items_total] CHECK  (([total]>=(0)))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_order_items_total]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_order_items_unit_price] CHECK  (([unit_price]>=(0)))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_order_items_unit_price]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_discount] CHECK  (([discount]>=(0)))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_discount]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_sms_status] CHECK  (([sms_status]='failed' OR [sms_status]='success' OR [sms_status]='pending'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_sms_status]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_source] CHECK  (([source]='counter' OR [source]='kiosk' OR [source]='seat_qr' OR [source]='qr'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_source]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_subtotal] CHECK  (([subtotal]>=(0)))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_subtotal]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_total] CHECK  (([total]>=(0)))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_total]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_whatsapp_status] CHECK  (([whatsapp_status]='failed' OR [whatsapp_status]='success' OR [whatsapp_status]='pending'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_whatsapp_status]
GO
ALTER TABLE [dbo].[pos_integrations]  WITH CHECK ADD  CONSTRAINT [CK_pos_integrations_provider] CHECK  (([provider]='qbusto' OR [provider]='impact' OR [provider]='showbizz' OR [provider]='vista'))
GO
ALTER TABLE [dbo].[pos_integrations] CHECK CONSTRAINT [CK_pos_integrations_provider]
GO
ALTER TABLE [dbo].[pos_transactions]  WITH CHECK ADD  CONSTRAINT [CK_pos_transactions_attempt_count] CHECK  (([attempt_count]>=(1)))
GO
ALTER TABLE [dbo].[pos_transactions] CHECK CONSTRAINT [CK_pos_transactions_attempt_count]
GO
ALTER TABLE [dbo].[pos_transactions]  WITH CHECK ADD  CONSTRAINT [CK_pos_transactions_status] CHECK  (([status]='unknown' OR [status]='failed' OR [status]='success' OR [status]='pending'))
GO
ALTER TABLE [dbo].[pos_transactions] CHECK CONSTRAINT [CK_pos_transactions_status]
GO
ALTER TABLE [dbo].[product_availability_hours]  WITH CHECK ADD  CONSTRAINT [CK_product_availability_hours_day_of_week] CHECK  (([day_of_week]>=(0) AND [day_of_week]<=(7)))
GO
ALTER TABLE [dbo].[product_availability_hours] CHECK CONSTRAINT [CK_product_availability_hours_day_of_week]
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD  CONSTRAINT [CK_product_pricing_base_price] CHECK  (([base_price]>=(0)))
GO
ALTER TABLE [dbo].[product_pricing] CHECK CONSTRAINT [CK_product_pricing_base_price]
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD  CONSTRAINT [CK_product_pricing_discount_on_counter] CHECK  (([discount_on_counter]>=(0)))
GO
ALTER TABLE [dbo].[product_pricing] CHECK CONSTRAINT [CK_product_pricing_discount_on_counter]
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD  CONSTRAINT [CK_product_pricing_discount_on_kiosk] CHECK  (([discount_on_kiosk]>=(0)))
GO
ALTER TABLE [dbo].[product_pricing] CHECK CONSTRAINT [CK_product_pricing_discount_on_kiosk]
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD  CONSTRAINT [CK_product_pricing_discount_on_qr] CHECK  (([discount_on_qr]>=(0)))
GO
ALTER TABLE [dbo].[product_pricing] CHECK CONSTRAINT [CK_product_pricing_discount_on_qr]
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD  CONSTRAINT [CK_product_pricing_discount_on_seat_qr] CHECK  (([discount_on_seat_qr]>=(0)))
GO
ALTER TABLE [dbo].[product_pricing] CHECK CONSTRAINT [CK_product_pricing_discount_on_seat_qr]
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD  CONSTRAINT [CK_product_pricing_discount_type] CHECK  (([discount_type]='F' OR [discount_type]='P'))
GO
ALTER TABLE [dbo].[product_pricing] CHECK CONSTRAINT [CK_product_pricing_discount_type]
GO
ALTER TABLE [dbo].[product_pricing]  WITH CHECK ADD  CONSTRAINT [CK_product_pricing_discount_value] CHECK  (([discount_value]>=(0)))
GO
ALTER TABLE [dbo].[product_pricing] CHECK CONSTRAINT [CK_product_pricing_discount_value]
GO
ALTER TABLE [dbo].[shows]  WITH CHECK ADD  CONSTRAINT [CK_shows_status] CHECK  (([status]='cancelled' OR [status]='scheduled'))
GO
ALTER TABLE [dbo].[shows] CHECK CONSTRAINT [CK_shows_status]
GO
ALTER TABLE [dbo].[user_permissions]  WITH CHECK ADD  CONSTRAINT [CK_user_permissions_module_name] CHECK  (([module_name]='Offers' OR [module_name]='Settings' OR [module_name]='POS Integrations' OR [module_name]='Reports' OR [module_name]='Users' OR [module_name]='Banners' OR [module_name]='Pricing' OR [module_name]='Categories' OR [module_name]='Products' OR [module_name]='Orders' OR [module_name]='Dashboard'))
GO
ALTER TABLE [dbo].[user_permissions] CHECK CONSTRAINT [CK_user_permissions_module_name]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_role] CHECK  (([role]='cinema_accountant' OR [role]='kitchen_staff' OR [role]='cinema_admin' OR [role]='chain_admin' OR [role]='owner'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_role]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'UUID v4 from Idempotency-Key header' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'idempotency_keys', @level2type=N'COLUMN',@level2name=N'key'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'x-razorpay-event-id header; unique per Razorpay event' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'payment_webhook_events', @level2type=N'COLUMN',@level2name=N'event_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'e.g. payment.captured, payment.failed, order.paid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'payment_webhook_events', @level2type=N'COLUMN',@level2name=N'event'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'From the event payload; null if the event carried none' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'payment_webhook_events', @level2type=N'COLUMN',@level2name=N'gateway_order_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'received | applied | ignored' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'payment_webhook_events', @level2type=N'COLUMN',@level2name=N'outcome'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Why an event was ignored, for investigation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'payment_webhook_events', @level2type=N'COLUMN',@level2name=N'reason'
GO
USE [master]
GO
